<hr>
<p class="footer text-center small"><a href="{{site.baseurl}}/">Présentation</a> | <a href="{{site.baseurl}}/histoire-de-chats.html">Histoire de chats</a> | <a href="{{site.baseurl}}/photos.html">Galerie photos</a> | <a href="{{site.baseurl}}/contact.html">Contact</a> | <a href="{{site.baseurl}}/nous-aider.html">Aider le refuge</a></p>
<div class="text-center">
    <div class="fb-like-box" data-href="https://www.facebook.com/refuge.droit.de.vivre" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>

</div>
<p class="footer text-center small">&copy; {{ site.time | date: '%Y' }} Refuge &laquo; Droit de Vivre &raquo; • Tous droits réservés</p>