
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/blueimp-gallery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap-image-gallery.min.js"></script>
<script>
    $( document ).ready(function() {
        $('.photos-gallery').on('click', function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event, useBootstrapModal: false},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        });
    });

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58901981-1', 'auto');
    ga('send', 'pageview');
</script>