<div class="welcome">
    <div class="logo-more">
        <a href="http://www.fondationdescroixvernier.com" target="_blank" class="logo-fdv"><img src="{{site.baseurl}}/assets/images/logo-fondation-descroix-vernier.png" width="115" height="25"><span class="hidden">Fondation Descroix-Vernier</span></a>
        <a href="https://www.isere.fr/" target="_blank" class="logo-cgi"><img src="{{site.baseurl}}/assets/images/logo-conseil-general-isere.png" width="55" height="25"><span class="hidden">Conseil Général de l’isère</span></a>
    </div>
    <div class="container text-center">
        <a href="{{site.baseurl}}/" class="logo"><span class="hidden">Droit de vivre, Refuge pour chats</span></a>
    </div>
</div>