<?php
    $pageTitle = 'Aidez le refuge Droit de Vivre =^^=';
    $pageDescription = 'Faites un don, parrainez ou adoptez un chat pour aider le refuge.';

?>
<div class="page">
    <h1 class="text-center">Aider le refuge</h1>

    <div class="row">
        <div class="col-sm-offset-1 col-md-offset-0 col-sm-10 col-md-12">
            Nous remercions chaleureusement toutes les personnes qui travaillent au Refuge, tous nos bénévoles et tous les amoureux des animaux qui viennent régulièrement passer un peu de leur temps avec nos pensionnaires.
            Le refuge Droit de Vivre a la chance d’être soutenu financièrement par la <a href="http://www.fondationdescroixvernier.com" target="_blank">fondation
            Descroix-Vernier</a> et le <a href="https://www.isere.fr" target="_blank">Conseil Général de l’isère</a> et
            par les dons de particuliers.


            <h3>Aidez nous !</h3>

            <div class="v-spacing"></div>

            <h4>Faites un don</h4>

            <p>Malheureusement prendre soin des chats, toujours plus nombreux et maintenir la qualité de notre infrastructure coûte cher.
                Chaque don compte!</p>

            <p><strong>Par virement : </strong></p>
            <blockquote>Au CCM VIF<br>
                10278-08952-00020072301-51<br>
                Droit de Vivre
            </blockquote>


            <p><strong>Par chèque : </strong><br>
                Vous pouvez nous envoyer votre don avec vos coordonnées à l'adresse suivante :</p>
            <blockquote>Refuge Droit de Vivre<br>
                1998 Route de Fontagneux<br>
                Reymure<br>
                38450 Vif
            </blockquote>



            <div class="v-spacing"></div>

            <h4>Parrainer un chat</h4>

            <p>Pour tous ceux qui aiment les chats mais qui ne peuvent pas en avoir et pour ceux qui souhaitent s'occuper d'un
                chat du refuge en particulier, nous proposons de parrainer le chat de votre choix.</p>

            <p>Pour en savoir plus, vous pouvez envoyer un mail à <a href="mailto:contact@droit-de-vivre.com?subject=parrainage">contact@droit-de-vivre.com</a> en
                mettant pour objet : « parrainage »</p>


            <div class="v-spacing"></div>

            <h4>Adopter un chat</h4>

            <p>Les chats que nous proposons à l’adoption sont jeunes et de bon tempérament. Ils sont identifiés
                (tatouage ou puce électronique), stérilisés et vaccinés.</p>

            <p>Si vous souhaitez adopter un animal, vous pouvez envoyer un mail à <a href="mailto:contact@droit-de-vivre.com?subject=adoption">contact@droit-de-vivre.com</a> en mettant
                pour objet : « adoption »</p>

        </div>
    </div>
</div>