<?php
    $pageTitle = 'Photos du refuge Droit de Vivre =^^=';
    $pageDescription = 'Gallerie photos du refuge Droit de Vivre. L\'association sauve les chats abandonnés, maltraités, délaissés et leur offre, protection et abri entièrement dédié.';

?>
<div class="page">
    <h1 class="text-center">Galerie photos</h1>


    <div class="photos-gallery row">
        <a class="col-sm-3" href="/assets/images/photos/beaute-dans-l-arbre.jpg"><img src="/assets/images/photos/thumbs/beaute-dans-l-arbre.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/JB-et-Beaute.jpg"><img src="/assets/images/photos/thumbs/JB-et-Beaute.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-ne-suis-pas-tres-facile.jpg"><img src="/assets/images/photos/thumbs/je-ne-suis-pas-tres-facile.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/chatte-aveugle.jpg"><img src="/assets/images/photos/thumbs/chatte-aveugle.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/vue-d-ensemble-du-refuge-DDV.jpg"><img src="/assets/images/photos/thumbs/vue-d-ensemble-du-refuge-DDV.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/DSCN3218.jpg"><img src="/assets/images/photos/thumbs/DSCN3218.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/en-attende-de-sortir-dans-les-parcs.jpg"><img src="/assets/images/photos/thumbs/en-attende-de-sortir-dans-les-parcs.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3965.jpg"><img src="/assets/images/photos/thumbs/IMG_3965.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3957.jpg"><img src="/assets/images/photos/thumbs/IMG_3957.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3958.jpg"><img src="/assets/images/photos/thumbs/IMG_3958.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3960.jpg"><img src="/assets/images/photos/thumbs/IMG_3960.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3961.jpg"><img src="/assets/images/photos/thumbs/IMG_3961.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/portail-entree-DDV.jpg"><img src="/assets/images/photos/thumbs/portail-entree-DDV.jpg" class="img-circle img-responsive histoire-image"></a>

        <a class="col-sm-3" href="/assets/images/photos/IMG_1777.jpg"><img src="/assets/images/photos/thumbs/IMG_1777.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/IMG_1778.jpg"><img src="/assets/images/photos/thumbs/IMG_1778.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1782.jpg"><img src="/assets/images/photos/thumbs/IMG_1782.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1783.jpg"><img src="/assets/images/photos/thumbs/IMG_1783.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/IMG_1780.jpg"><img src="/assets/images/photos/thumbs/IMG_1780.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1781.jpg"><img src="/assets/images/photos/thumbs/IMG_1781.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1784.jpg"><img src="/assets/images/photos/thumbs/IMG_1784.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1786.jpg"><img src="/assets/images/photos/thumbs/IMG_1786.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1788.jpg"><img src="/assets/images/photos/thumbs/IMG_1788.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1789.jpg"><img src="/assets/images/photos/thumbs/IMG_1789.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1790.jpg"><img src="/assets/images/photos/thumbs/IMG_1790.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1791.jpg"><img src="/assets/images/photos/thumbs/IMG_1791.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1792.jpg"><img src="/assets/images/photos/thumbs/IMG_1792.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1793.jpg"><img src="/assets/images/photos/thumbs/IMG_1793.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_1794.jpg"><img src="/assets/images/photos/thumbs/IMG_1794.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3955.jpg"><img src="/assets/images/photos/thumbs/IMG_3955.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/IMG_3966.jpg"><img src="/assets/images/photos/thumbs/IMG_3966.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/infirmerie.jpg"><img src="/assets/images/photos/thumbs/infirmerie.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-dors-DDV.jpg"><img src="/assets/images/photos/thumbs/je-dors-DDV.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-m-appelle-bebe-mais-j-ai-17-ans.jpg"><img src="/assets/images/photos/thumbs/je-m-appelle-bebe-mais-j-ai-17-ans.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-me-repose.jpg"><img src="/assets/images/photos/thumbs/je-me-repose.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/cette-chatte-n-a-qu-un-oeil.jpg"><img src="/assets/images/photos/thumbs/cette-chatte-n-a-qu-un-oeil.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-peux-voir-au-loin.jpg"><img src="/assets/images/photos/thumbs/je-peux-voir-au-loin.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-reflechis.jpg"><img src="/assets/images/photos/thumbs/je-reflechis.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-suis-beau.jpg"><img src="/assets/images/photos/thumbs/je-suis-beau.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-suis-bien-dans-mon-carton.jpg"><img src="/assets/images/photos/thumbs/je-suis-bien-dans-mon-carton.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/je-suis-un-sauvageaon.jpg"><img src="/assets/images/photos/thumbs/je-suis-un-sauvageaon.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/journee-portes-ouvertes.jpg"><img src="/assets/images/photos/thumbs/journee-portes-ouvertes.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/mandarins.jpg"><img src="/assets/images/photos/thumbs/mandarins.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/moi-aussi-je-veux-une-gatterie.jpg"><img src="/assets/images/photos/thumbs/moi-aussi-je-veux-une-gatterie.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/notre-dortoir.jpg"><img src="/assets/images/photos/thumbs/notre-dortoir.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/on-prend-le-soleil-sur-les-escaliers.jpg"><img src="/assets/images/photos/thumbs/on-prend-le-soleil-sur-les-escaliers.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/parc-printemps.jpg"><img src="/assets/images/photos/thumbs/parc-printemps.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/parc.jpg"><img src="/assets/images/photos/thumbs/parc.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/pour-ceux-qui-aiment-les-siamois.jpg"><img src="/assets/images/photos/thumbs/pour-ceux-qui-aiment-les-siamois.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/qu-est-ce-que-je-regarde.jpg"><img src="/assets/images/photos/thumbs/qu-est-ce-que-je-regarde.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/sieste.jpg"><img src="/assets/images/photos/thumbs/sieste.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/soin.jpg"><img src="/assets/images/photos/thumbs/soin.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/storny.jpg"><img src="/assets/images/photos/thumbs/storny.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3"  href="/assets/images/photos/un-vrai-baroudeur.jpg"><img src="/assets/images/photos/thumbs/un-vrai-baroudeur.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/chatterie-DDV.png"><img src="/assets/images/photos/thumbs/chatterie-DDV.png" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/IMG_1774.jpg"><img src="/assets/images/photos/thumbs/IMG_1774.jpg" class="img-circle img-responsive histoire-image"></a>
        <a class="col-sm-3" href="/assets/images/photos/IMG_1776.jpg"><img src="/assets/images/photos/thumbs/IMG_1776.jpg" class="img-circle img-responsive histoire-image"></a>

    </div>


</div>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>