<?php
    $pageTitle = ((isset($pageTitle)) ? $pageTitle : 'Refuge pour chats Droit de Vivre');
    $pageDescription = ((isset($pageDescription)) ? $pageDescription : 'Refuge pour chats Droit de Vivre');
?><!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166303024-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166303024-2');
</script>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><?= $pageTitle ?></title>
    <meta name="description" content="<?= $pageDescription ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=icon href=/assets/images/favicon-16x16.png sizes="16x16" type="image/png">
    <link rel=icon href=/assets/images/favicon-32x32.png sizes="32x32" type="image/png">
    <link rel=icon href=/assets/images/favicon-64x64.png sizes="64x64" type="image/png">
    <link rel=icon href=/assets/images/favicon.ico sizes="16x16" type="image/vnd.microsoft.icon">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=301413360001557&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="welcome">
    <div class="logo-more">
        <a href="http://www.fondationdescroixvernier.com" target="_blank" class="logo-fdv"><img src="/assets/images/logo-fondation-descroix-vernier.png" width="115" height="25"><span class="hidden">Fondation Descroix-Vernier</span></a>
        <a href="https://www.isere.fr/" target="_blank" class="logo-cgi"><img src="/assets/images/logo-conseil-general-isere.png" width="55" height="25"><span class="hidden">Conseil Général de l’isère</span></a>
    </div>
    <div class="container text-center">
        <a href="/" class="logo"><span class="hidden">Droit de vivre, Refuge pour chats</span></a>
    </div>
</div>
<div class="background"></div>
<div class="content">
    <div class="container">
        <div class="navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse ddv-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" <?php if(!preg_match('/html/', $_SERVER['REQUEST_URI'])) : ?>class="active"<?php endif; ?>>Présentation</a></li>
                    <li><a href="/histoire-de-chats.html" <?php if(preg_match('/histoire/', $_SERVER['REQUEST_URI'])) : ?>class="active"<?php endif; ?>>Histoire de chats</a></li>
                    <li><a href="/photos.html" <?php if(preg_match('/photos/', $_SERVER['REQUEST_URI'])) : ?>class="active"<?php endif; ?>>Galerie photos</a></li>
                    <li><a href="/contact.html" <?php if(preg_match('/contact/', $_SERVER['REQUEST_URI'])) : ?>class="active"<?php endif; ?>>Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs fb-button"><div class="fb-like" data-href="https://www.facebook.com/refuge.droit.de.vivre" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div></li>
                    <li><a href="/nous-aider.html" class="btn btn-default">Aider le refuge</a></li>
                </ul>
            </div>
        </div>
        <p class="text-center sub-navbar"><img src="/assets/images/nav-brand.png" width="50" height="30"></p>

<?php $this->getContent(); ?>


        <hr>
        <p class="footer text-center small"><a href="/">Présentation</a> | <a href="/histoire-de-chats.html">Histoire de chats</a> | <a href="/photos.html">Galerie photos</a> | <a href="/contact.html">Contact</a> | <a href="/nous-aider.html">Aider le refuge</a></p>
        <div class="text-center">
            <div class="fb-like-box" data-href="https://www.facebook.com/refuge.droit.de.vivre" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>

        </div>
        <p class="footer text-center small">&copy; <?= date('Y') ?> Refuge &laquo; Droit de Vivre &raquo; • Tous droits réservés</p>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/assets/js/vendor/bootstrap.min.js"></script>
<script src="/assets/js/vendor/blueimp-gallery.min.js"></script>
<script src="/assets/js/vendor/bootstrap-image-gallery.min.js"></script>
<script>
    $('.photos-gallery').on('click', function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event, useBootstrapModal: false},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    });

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-58901981-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
